

<div class="container container_404">
    <h1 class="h1_404">Recruiter Zone Only <span class="emoji">&#128533;</span></h1>
    <p class="p_404">Sorry, but this page is reserved for recruiters only!</p>
    <p class="p_404">Please login as a recruiter to access this area.</p>
</div>
