

<div class="container container_404">
    <h1 class="h1_404">JobSeeker Zone Only <span class="emoji">&#128533;</span></h1>
    <p class="p_404">Sorry, but this page is reserved for JobSeekers only!</p>
    <p class="p_404">Please login as a JobSeeker to access this area.</p>
</div>
