<h1 class="mt-5 mb-4">Application for Job</h1>

<form action="/jobApply" method="post">
    
    <%if(job){%>
        <input type="hidden" name="id" value="<%= job.id %>">
    <%}%>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        <input type="text" name="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Contract</span>
        <input type="text" name="contract" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <label for="fileInput" class="form-label">Choose file:</label>
        <input type="file" class="form-control" id="fileInput" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Apply Now</button>
</form>